@use "src/styles/variables" as var;

.button {
  color: var.$dark-text;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  background-color: transparent;
  box-shadow: 0 2px 3px var.$shadow;
  transition: box-shadow 0.2s ease-out;

  &_stop {
    color: hsl(0, 100, 40);
  }
  &_primary {
    color: white;
    background-color: hsl(200, 100, 40);
  }
  &_grow {
    flex: 1;
  }
  &:active {
    box-shadow: 0 2px 3px var.$shadow-pressed;
  }
  &:hover {
    box-shadow: 0 2px 3px var.$shadow-hover;
  }
}
