@use "src/styles/variables" as var;

.app {
  min-height: 100vh;
  padding: 4rem 4rem;
  color: var.$dark-text;
  background-color: var.$bg;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  min-width: fit-content;
  width: 100%;
  margin: 0 auto;
  transition: background-color 0.5s;
}
