$darker-text: hsl(0, 0, 10%);

.settings {
  position: absolute;
  display: block;
  height: 2rem;
  width: 2rem;
  padding: 0;
  right: -3rem;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  transition: rotate 150ms;
  cursor: pointer;

  &:hover {
    rotate: 30deg;
  }
}

.popup {
  position: relative;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  height: fit-content;
}

.header {
  color: $darker-text;
  font-weight: bold;
}

.shade {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  padding: 2rem 0;
  background: hsla(0, 0%, 20%, 0.6);
  display: flex;
  justify-content: center;
}

.settings-block {
  border-top: 2px solid hsl(200, 20, 80);
  border-bottom: 2px solid hsl(200, 20, 80);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.label {
  display: block;
  font-weight: bold;
}

.input {
  width: 6ch;
  border: 0;
  box-shadow: inset 0 0 4px hsl(200, 20, 50);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: hsl(200, 20, 99);

  &:focus-visible {
    border-color: hsl(210, 50%, 50%);
    outline: 0;
  }
  &:invalid {
    border-color: hsl(0, 50%, 50%);
  }
}

.input-container {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.change-button {
  padding: calc(0.25rem + 2px) 0.5rem;
  border-radius: 0.25rem;
  background-color: hsl(0, 0%, 20%);
  color: white;

  &:hover {
    opacity: 0.7;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.error {
  color: hsl(0, 100, 30);
  max-width: fit-content;
}

.close {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  background-color: hsl(0, 0%, 95%);

  &:hover {
    opacity: 0.7;
  }
}

.switch {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 1rem;
}
