@font-face {
  font-family: "Fira Code";
  src: url(/assets/FiraCode-Regular.ttf);
}

$bg-focus: hsl(20, 100%, 10%);
$bg-break: hsl(175, 40%, 10%);
$bg-longBreak: hsl(200, 40%, 10%);
$dark-text: hsl(0, 0, 20%);
$darker-text: hsl(0, 0, 10%);

.container {
  color: $dark-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 2rem;
  transition: background-color 0.5s;

  &_focus {
    background-color: $bg-focus;
  }
  &_break {
    background-color: $bg-break;
  }
  &_longBreak {
    background-color: $bg-longBreak;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 0.5rem;
  transition: background-color 200ms;

  &_active {
    background-color: hsla(0, 0%, 10, 0.2);
  }
}

.controlButton {
  color: $dark-text;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  font-size: 3rem;
}

.time {
  color: $darker-text;
  font-size: 4rem;
  font-family: "Fira Code", monospace;
}

.timer {
  position: relative;
  padding: 1rem;
  background-color: hsla(0, 0%, 100%, 0.9);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlButtons {
  display: flex;
}
