$bg-focus: hsl(30, 100%, 30%);
$bg-break: hsl(175, 40%, 30%);
$bg-longBreak: hsl(200, 40%, 30%);

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 2rem;
  transition: background-color 0.5s;

  &_focus {
    background-color: $bg-focus;
  }
  &_break {
    background-color: $bg-break;
  }
  &_longBreak {
    background-color: $bg-longBreak;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  color: white;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 0.5rem;
  transition: background-color 200ms;

  &_active {
    background-color: hsla(0, 0%, 10, 0.2);
  }
}

.controlButton {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  color: white;
  background-color: transparent;
  font-size: 3rem;
}

.time {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.timer {
  position: relative;
  padding: 1rem;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlButtons {
  display: flex;
}
